@font-face {
  font-family: "Iceberg";
  src: url("fonts/Iceberg-Regular.ttf");
}

body {
    background-color: #222;
    font-family: "Iceberg", cursive;
  }
  
  h1 {
    color: #e30;
    text-align: center;
    font-size: 13pt;
  }
  
  img {
    display: block;
    margin: auto;
  }
  
  button {
    border: solid thick #444;
    background-color: #e30;
    color: white;
    width: 300px;
    height: 100px;
    font-family: "Iceberg", cursive;
    font-size: 40pt;
    cursor: pointer;
    margin: auto;
    transition: .2s ease-in text-shadow;
  }
  
  button:hover {
      text-shadow: 3px 3px 0 #222;
  }
  
  canvas {
    display: block;
    margin: auto;
  }
  
  .sidebar {
    position: fixed;
    right: 0;
    top: 0;
    background-color: #e30;
    color: white;
    padding: 0 15px 0 5px;
    font-size: 13pt;
    border: solid thick #444;
    max-width: 400px;
  }

  .sidebar .text {
    background-color: #444;
    padding: 5px 15px 5px 5px;
    margin: 0 -15px 0 -5px;
    font-family: 'Courier New', Courier, monospace;
    text-align: justify;
  }
  
  .sidebar li {
      padding-bottom: 5px;
  }
  
  #close {
    float: right;
    font-size: 20pt;
    background-color: #444;
    padding: 5px;
    border-bottom: solid #222;
    cursor: pointer;
  }